@font-face {
  font-family: "Flyboy";
  src: url(../fonts/FlyBoyBB.ttf) format("truetype"); }
h1 {
  font-family: "Flyboy", sans-serif;
  color: #ffffff;
  font-size: 110px;
  margin-top: 10px;
  font-weight: normal; }

img {
  width: 40%; }

body {
  background-color: #E77E21;
  text-align: center; }

.container {
  margin-top: 30px; }

@media only screen and (max-width: 1024px) {
  .container {
    margin-top: 60px; } }
@media only screen and (max-width: 1024px) {
  .container {
    margin-top: 100px; } }
