* {
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after,
  &:before {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

html,
body {
  overflow-x: hidden;
}

ul {
  margin:0;
  padding:0;

  li {
    margin:0;
    padding:0;
  }
}

img {
  max-width:100%;
  height:auto;
  border:0; /* for IE10 */
}