/**
Fonts and Colours
 */
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');


$main-font: 'Raleway', sans-serif;
$header-font: 'Roboto Condensed', sans-serif;

$body-color: #706f6f;
$blue: #2f4858;